@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  font-size: 16px;
  border-radius: 10px;
  background-color: #007dea;
  padding: 0.5em 0.7em;
  color: #fff;
  text-transform: capitalize;
}

.search, .menu__basket {
  font-size: 18px;
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}
.menu__item {
  font-size: 16px;
  color: #999;
}
.menu__logo {
  color: #fff;
  font-size: 40px;
}

:root {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background-color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.title {
  font-size: 8rem;
}

.purchase-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}
.purchase-bar__title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.purchase-bar__item:not(.button) {
  color: #999;
  margin-right: 1em;
}
.purchase-bar::before {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.intro {
  position: relative;
  background-color: #000;
  color: #fff;
}
.intro__title {
  position: relative;
  z-index: 2;
  margin: 2.2em 0 1em 0;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
}
.intro__button {
  position: relative;
  z-index: 2;
  margin-left: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: black;
  border: 1px solid #fff;
}
.intro__img {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 17.5rem;
  max-height: 18rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}